h1 {
    text-align: center;
    font-size: 41;

}

#wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    margin: 100px 35%;
    padding: 10px;
}

